.controls-container {
  position: relative;

  width: calc(100% - 100px);
  padding: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px #364f6b;
}

button {
  padding: 10px 15px;

  background: transparent;

  border: solid 1px #364f6b;
  border-radius: 5px;

  cursor: pointer;

  font-size: 15px;
  color: #364f6b;
}
button:focus {
  outline: 0;
}

.algo-options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.algo-option {
  margin: 5px 15px;
  padding: 5px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.algo-option input[type="radio"] {
  display: none;
}
.algo-option input[type="radio"] + label {
  display: block;
  width: 100%;
  padding: 10px 15px;

  text-align: center;
  font-size: 15px;
  color: #364f6b;

  cursor: pointer;

  border: solid 1px #364f6b;
  border-radius: 5px;
}
.algo-option input[type="radio"]:checked + label {
  color: #f5f5f5;
  background: #364f6b;
}

.array-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  margin: 50px;
}

.main-array-bar,
.temp-array-bar {
  width: 35px;
  margin: 2px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.temp-array-text {
  color: #364f6b;
  margin-bottom: -25px;
}
